<!--sidebar wrapper -->
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
     class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img th:src="@{/assets/images/logo-icon.png}" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Todo List</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a>
                <div class="parent-icon"><i class='bx bx-home-circle'></i>
                </div>
                <div class="menu-title">Home</div>
            </a>
        </li>
    </ul>
</div>
<!-- end sidebar wrapper -->